<%- include('../partials/header.ejs') -%>
<h1><%= name %></h1>
<h1><%= lname %></h1>
<h1><%= email %></h1>
<h1><%= phoneno %></h1>
<h1><%= transactions %></h1>
<h1><%= altcoins %></h1>
<h1>HOLDINGS</h1>
<h5>CIPLA : <%= uhold.CIPLA %></h5>
<h5>IRCTC : <%= uhold.IRCTC %></h5>
<h5>ITC : <%= uhold.ITC %></h5>
<h5>TCS : <%= uhold.TCS %></h5>
<h5>TITAN : <%= uhold.TITAN %></h5>
<h5>HDFC : <%= uhold.HDFC %></h5>
<h5>WIPRO : <%= uhold.WIPRO %></h5>
<h5>TCS : <%= uhold.TCS %></h5>
<h5>ASIANPAINT : <%= uhold.ASIANPAINT %></h5>
<h5>BRITANNIA : <%= uhold.BRITANNIA %></h5>
<%- include('../partials/footer.ejs') -%>
