<%- include('../partials/header.ejs') -%>
<h1><%= name %></h1>
<h1><%= lname %></h1>
<h1><%= email %></h1>
<h1><%= phoneno %></h1>
<h1><%= transactions %></h1>
<h1><%= altcoins %></h1>
<%- include('../partials/footer.ejs') -%>
